<!DOCTYPE html>
<html>
<head>
    <title>Soteria Pass</title>
    $require("templates/header.html");
</head>
<body class="hold-transition skin-blue sidebar-mini">
    $require("templates/body_start.html");
    $require("templates/content.html");
    
    $require("templates/body_end.html");
    $require("templates/scripts.html");
</body>
</html>
